@use "../../styles/colors";
$default-rem: 2rem;
.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.blur {
  -webkit-backdrop-filter: blur(6rem);
  backdrop-filter: blur(6rem);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  padding: 4rem $default-rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  min-width: 100%;
}
@media only screen and (min-width: 760px) {
  main {
    padding: 0;
    div {
      border-radius: $default-rem;
      margin: 5rem 0;
      width: 75%;
      padding: 4rem;
      background-color: white;
    }

  }
}@media only screen and (min-width: 1000px) {
  main {

    div {
      width: 60%;
    }

  }
}
