<footer>
  <h2>اسپاتیفای</h2>
  <p>با اسپاتیفای جدیدترین آهنگ ها را پیدا کن و لیست آهنگ های خودتو بساز</p>
  <p>تلفن پشتیبانی: 02144730000</p>
  <figure>
    <img
      src="assets/images/5882205_instagram_logo_media_social_icon.png"
      alt="instagram"
      width="25"
      height="25"
    />
    <figcaption>Spotify</figcaption>
  </figure>
  <figure>
    <img
      src="assets/images/5882200_email_gmail_google_mail_icon.png"
      alt="Gmail"
      width="25"
      height="25"
    />
    <figcaption>Spotify@gmail.com</figcaption>
  </figure>
</footer>
