main {
  font-size: 1.3rem;
}
@media only screen and (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    #filter-search {
      position: sticky;
      top: 0;
      height: min-content;
    }
  }
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
