@use "../../../styles/colors";

$default-rem: 2rem;

#list {
  .cards {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-gap: $default-rem;
    padding-top: 4rem;
    border-top: 1px solid black;
  }

  position: relative;

  h1 {
    color: black;
    margin-bottom: $default-rem;
  }

  background-color: colors.$lighter-blue;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  margin: $default-rem;
  padding: 4rem;
  border-radius: $default-rem;
  color: black;
}

#noResult {
  h2 {
    text-align: center;
    margin-top: 10rem;
    color: colors.$dark-blue;
  }
}

.arrows {
  bottom: $default-rem;
  margin-top: 4rem;

  button {
    &:first-child {
      right: 4rem;
      display: none;
    }

    &:last-child {
      left: 4rem;
    }

    position: absolute;
    bottom: $default-rem;
    border: none;
    border-radius: 999rem;
    background-color: colors.$dark-blue;
    color: white;
    width: 8rem;
    height: 3rem;

    &:hover {
      background-color: colors.$light-gray;
      color: colors.$dark-blue;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 600px) {
  #list {
    margin-right: 0;
  }
}

@media only screen and (min-width: 870px) {
  #list {
    margin-right: 0;
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 1000px) {
  #list {
    margin-right: 0;
    .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-right: 0;
    }
  }
}
