<section id="list">
  <h1>لیست آهنگ ها:</h1>

  <div class="cards" id="songCards">
    <div *ngFor="let song of songs">
      <app-card [song]="song" [(playlistIds)]="playlistIds"></app-card>
    </div>
  </div>
  <div id="noResult" *ngIf="!hiddenNoResult">
    <h2>آهنگ مورد نظر یافت نشد</h2>
  </div>
  <div class="arrows">
    <button [hidden]="hiddenPrev" id="previous" (click)="previousPage()">
      صفحه قبل
    </button>
    <button [hidden]="hiddenNext" id="next" (click)="nextPage()">
      صفحه بعد
    </button>
  </div>
</section>
