@use "../../../styles/colors";
@use "../../../styles/formTemplate" as f;

$input-height: 4rem;
$default-rem: 2rem;

main {
  @include f.centering;
  .form {
    @include f.createForm;
    form {
      .inputbox {
        input {
          @include f.createInputBoxes;
          width: 100%;
          height: $input-height;
        }
        label {
          display: block;
          font-size: 1.2rem;
          color: colors.$dark-blue;
        }
      }

      #forget {
        display: block;
        font-size: 1.1rem;
        color: colors.$light-blue;
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: colors.$dark-blue;
        }
      }

      #remember + label {
        color: colors.$dark-blue;
        font-size: 1.1rem;
        margin-left: $default-rem;
      }
      #remember:checked + label {
        font-weight: bold;
      }
      button {
        border: none;
        border-radius: 999rem;
        height: $input-height;
        min-width: 19rem;
        background-color: colors.$dark-pink;

        a {
          color: colors.$dark-blue;
          text-decoration: none;
          font-size: 1.5rem;
        }
        &:hover {
          background-color: colors.$light-pink;
          cursor: pointer;

          a {
            color: colors.$darker-pink;
          }
        }
      }
    }
    h4 {
      color: colors.$dark-blue;
    }
    > button {
      width: 100%;
      border-radius: 999rem;
      height: $input-height;
      background: none;
      border: 2px solid colors.$light-blue;
      a {
        text-decoration: none;
        color: colors.$light-blue;
        font-weight: bold;
        font-size: 1.3rem;
      }
      &:hover {
        background-color: colors.$light-blue;
        cursor: pointer;
        a {
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  main .form form .inputbox input {
    border-radius: 1rem;
  }
  main .form form  button {
    border-radius: 1rem;
  } main .form >button {
    border-radius: 1rem;
  }
}

