@use "headerFooter" as hf;
@use "songList" as list;
@use "colors";

$default-rem: 2rem;

@mixin inputs {
  margin-top: $default-rem;
  width: 60%;
  height: 3rem;
  border-radius: 999rem;
  border: 1px solid colors.$light-blue;
  &:hover {
    border: 2px solid colors.$light-blue;
  }
  &:focus {
    border: 2px solid colors.$light-blue;
    border-radius: 1rem;
  }
}
header {
  @include hf.createHeader;
}
#filter,
#searchSection {
  position: sticky;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

  background-color: colors.$light-pink;
  margin: $default-rem;
  padding: $default-rem;
  height: min-content;
  border-radius: $default-rem;
  input {
    @include inputs;
  }
  button {
    width: 9rem;
    height: 3rem;
    border-radius: 4rem;
    border: none;
    background-color: colors.$light-blue;
    color: white;
    &:hover {
      cursor: pointer;
      background-color: colors.$dark-blue;
    }

    a {
      color: colors.$dark-blue;
      text-decoration: none;
    }
  }
}
#filter h3 {
  margin-bottom: 3rem;
}

#singerName,
#genre {
  display: inline;
  select {
    @include inputs;
  }
}

#list {
  h1 {
    color: black;
    margin-bottom: $default-rem;
    font-size: $default-rem;
  }
  @include list.createList;
  background-color: colors.$lighter-blue;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  margin: $default-rem;
  padding: 4rem;
  border-radius: $default-rem;
  color: black;
}

main {
  font-size: 13px;
}

footer {
  @include hf.createFooter;
}

@include list.listQuery;

@include hf.responsiveHeader;
