@use "colors";
@use "headerFooter" as hf;

$default-rem:2rem;

header {
  background-color: colors.$light-gray;
  height: 10rem;
  nav {
    img {
      margin-right: $default-rem;
      margin-top: 1.7rem;
      float: right;
    }
    span {
      margin-top: 3.5rem;
      margin-right: 1rem;
      font-size: $default-rem;
      color: colors.$darker-pink;
      font-weight: bold;
      float: right;
    }
    button {
      float: left;
      margin: 2.5rem 0 0 $default-rem;
      height: 5rem;
      width: 10rem;
      border-radius: 999rem;
      &:first-of-type {
        background-color: colors.$dark-pink;
        border: none;
        &:hover {
          background-color: colors.$darker-pink;
          cursor: pointer;

          a {
            color: white;
          }
        }
        a {
          color: colors.$dark-blue;
          font-size: 1.7rem;
          &:link {
            text-decoration: none;
          }
        }
      }
      &:last-of-type {
        border: 0.2rem solid colors.$darker-pink;
        &:hover {
          border-color: colors.$dark-pink;
          cursor: pointer;
        }
        a {
          color: colors.$darker-pink;
          font-size: 1.7rem;
          &:link {
            text-decoration: none;
          }
        }
      }
    }
  }
}

main {
  img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
  }
}

footer {
  @include hf.createFooter;
}

@media screen and (max-width: 490px) {
  header {
    height: 20rem;
    nav {
      div {
        display: block;
      }

      button {
        clear: right;
      }
    }
  }
  main {
    img {
      height: 40vh;
    }
  }
}
@media screen and (min-height: 720px) and (min-width: 490px) {
  header {
    height: 20rem;
    padding: 5rem;
  }
  main {
    img {
      height: 60vh;
    }
  }
  footer {
    height: 35rem;
    padding-top: 7rem;
  }
}
