@import "./colors";

@mixin centering {
  display: flex;
  justify-content: center;
}

@mixin createNav {
  background-color: $light-gray;
  height: 10rem;
  nav {
    height: 100%;
    width: 100%;

    img {
      margin-right: 2rem;
      margin-top: 1.7rem;
      float: right;
    }

    span {
      margin-top: 3.5rem;
      margin-right: 1rem;
      font-size: 2rem;
      color: $darker-pink;
      font-weight: bold;
      float: right;
    }

    #home {
      color: $dark-blue;
      margin-top: 3.5rem;
      margin-left: 2rem;
      float: left;
      font-size: 1.8rem;

      &:link {
        text-decoration: none;
      }

      &:hover {
        color: $light-blue;
        font-weight: bold;
      }
    }
  }
}

@mixin createForm {
  border-radius: 2rem;
  margin: 5rem 0;
  max-width: 85%;
  box-shadow: 0 0 2rem $light-gray;
  padding: 4rem;
  * {
    margin-bottom: 1.5rem;
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: $dark-blue;
  }
}

@mixin createInputBoxes {

}

header {
  @include createNav
}

main {
  @include centering;

  .form {
    @include createForm;

    form {
      p {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 2rem;
        color: $dark-blue;
      }

      .inputbox {
        height: 4.5rem;

        label {
          font-weight: bold;
          font-size: 1.3rem;
          margin-left: 2rem;
          color: $dark-blue;
          float: right;
        }

        input {
          border-radius: 999rem;
          border: 1px solid $dark-blue;
          height: 3.5rem;
          width: 70%;
          float: left;

          &:hover {
            border-color: $dark-pink;
          }

          &:focus {
            border: 0.1rem solid $darker-pink;
            border-radius: 0.5rem;
            outline: none;
          }

          &:-moz-placeholder {
            text-align: left;
          }

          &:-ms-input-placeholder {
            text-align: left;
          }

          &::-webkit-input-placeholder {
            text-align: left;
          }
        }
      }

      .options {
        label {
          margin-left: 2rem;
        }
        #marketing + label, input[type="radio"] + label {
          font-size: 1.2rem;
        }
        #marketing:checked + label, input[type="radio"]:checked + label {
          font-weight: bold;
          color: $dark-blue;
        }
      }

      > div:last-of-type {
        @include centering;

        button {
          background-color: $light-blue;
          color: white;
          width: 15rem;
          height: 4rem;
          border-radius: 999rem;
          border: none;
          transition-property: width;
          transition-duration: 500ms;
          transition-timing-function: linear;

          &:hover {
            background-color: $dark-blue;
            font-weight: bold;
            width: 25rem;
            cursor: pointer;
          }
        }
      }
    }

    div:last-of-type {
      font-size: 1.2rem;
      a {
        color: $dark-blue;
        margin-right: 1rem;
        font-size: 1.5rem;

        &:hover {
          color: $light-blue;
        }
      }
    }


  }
}
