@use "headerFooter" as hf;
@import "colors";
$default-rem: 2rem;

header {
 @include hf.createHeader;
}

main {
  padding: $default-rem;
  font-size: 1.3rem;

}

#songImage,
#audio,
#songInfo,
#likePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#likePic:hover {
  cursor: pointer;
}

#songInfo {
  background-color: $dark-pink;
  border-radius: $default-rem;
  padding: $default-rem;
  margin-top: $default-rem;
  margin-bottom: $default-rem;
  color: black;
  height: 60%;
  display: grid;
  justify-self: center;
  h1 {
    font-size: 2.2rem;
    margin-bottom: $default-rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

}

footer {
  @include hf.createFooter;
}

@media only screen and (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $default-rem;
  }

  #songInfo #likePic {
    margin: $default-rem auto;
    background-color: red;
  }
}
@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
