@use "headerFooter" as hf;
@use "colors";
$default-rem: 2rem;

header {
  @include hf.createHeader;
}

main {
  padding: $default-rem;
  font-size: 1.3rem;
}

#songImage,
#audio,
#songInfo,
#likePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#likePic:hover {
  cursor: pointer;
}
#songImage {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  height: 30rem;
}
#audio {
  margin-bottom: 3rem;
}

details[open] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#songInfo {
  max-width: 30rem;
  min-height: 30rem;
  background-color: colors.$dark-pink;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: $default-rem;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: black;
  display: grid;
  justify-self: center;
  align-items: center;

  h1 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

footer {
  @include hf.createFooter;
}

@media only screen and (min-width: 600px) and (max-height: 820px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $default-rem;
  }
}
@media only screen and (min-width: 768px) and (max-height: 820px) {
  main {
    display: flex;
    justify-content: center;
    #songInfo {
      width: 30rem;
    }
  }
}
@include hf.responsiveHeader;
