@use "headerFooter" as hf;
@use "songList" as list;
@import "colors";

$default-rem: 2rem;

@mixin inputs {
  margin-top: 2rem;
  width: 60%;
  height: 3rem;
  border-radius: 999rem;
  border: 1px solid $light-blue;
}

header {
  @include hf.createHeader;
}

main {
  font-size: 1.3rem;

}

#filter, #searchSection {
  background-color: $light-pink;
  margin: $default-rem;
  padding: $default-rem;
  height: min-content;
  border-radius: $default-rem;
  input {
    @include inputs;
  }
  button {
    margin-top: 1rem;
    border: none;
    width: 9rem;
    height: 3rem;
    border-radius: 4rem;
    background-color: $light-blue;
    color: white;
    &:hover {
      cursor: pointer;
      background: $dark-blue;
    }

    a {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}

#filter h3 {
  margin-bottom: $default-rem;
}

#songerName,
#genre {
  display: inline;
  select {
    @include inputs;
  }
}


#list {
  @include list.createList;
  h1 {
    color: black;
    margin-bottom: $default-rem;
  }
  background-color: $lighter-blue;
  margin: $default-rem;
  padding: 4rem;
  border-radius: $default-rem;
  color: black;

}

footer {
  @include hf.createFooter;
}

@include list.listQuery;