@use "colors.scss" as *;
@use "headerFooter" as hf;

@mixin inputs {
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  border-radius: 999rem;
}

header {
  @include hf.createHeader;
}

#filter, #searchSection {
  background-color: $light-pink;
  margin: 2rem;
  padding: 2rem;
  height: min-content;
  border-radius: 2rem;
  input {
    @include inputs;
    border: 1px solid black;
  }
  button {
    margin-right: 2rem;
    border: none;
    width: 9rem;
    height: 3rem;
    border-radius: 4rem;
    background-color: $light-blue;
    color: white;
    &:hover {
      cursor: pointer;
      background: $dark-blue;
    }

    a {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}

#songerName,
#genre {
  display: inline;
  select {
    @include inputs;
  }
}

#list {
  h1 {
    color: white;
    margin-bottom: 3rem;
  }
  background-color: $light-blue;
  margin: 2rem;
  padding: 4rem;
  border-radius: 2rem;
  color: $light-pink;
  #songList {
    list-style: none;
    li {
      margin-bottom: 2rem;
      margin-right: 2rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        &:hover {
          color: white;
        }
      }
    }
  }


}

main {
  display: block;
  padding: 2rem;
  font-size: 13px;
}

footer {
  @include hf.createFooter;

}

@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 2rem;
  }
}
