@use "headerFooter" as hf;
@import "colors";

$default-rem: 2rem;

header {
  @include hf.createHeader;
}

#content {
  h3 {
    margin-bottom: $default-rem;
  }
  li {
    margin-bottom: 1rem;
    margin-right: $default-rem;
  }
  display: block;
  padding: $default-rem;
  font-size: 13px;
}

aside {
  font-size: 13px;
  background-color: $light-pink;
  margin: $default-rem;
  padding: $default-rem;
  height: min-content;
  border-radius: $default-rem;
  color: $dark-blue;
  a {
    color: $dark-blue;
    text-decoration: none;
  }
}

#songs,
#favorites {
  h2 {
    color: white;
    margin-bottom:$default-rem;
  }
  background-color: $light-blue;
  margin: $default-rem;
  padding: 4rem;
  
  border-radius: $default-rem;
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
    &:hover {
      color: white;
    }
  }
  button {
    margin-right: $default-rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
     &:hover {
       background-color: $light-pink;
       a{
         color: $dark-blue;

       }
     }
    a {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}

footer {
 @include hf.createFooter;
}

@media only screen and (min-width: 768px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: $default-rem;
  }
}
