
#songImage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  width: 80vw;
}

@media only screen and (min-width: 600px) {
  #songImage {
    width: 70%;
  }

}

